[Desktop Entry]
Encoding=UTF-8
Name=AmsterdamCoin
Comment=AmsterdamCoin P2P Cryptocurrency
Comment[fr]=AmsterdamCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AmsterdamCoin, eşten eşe kriptografik sanal para birimi
Exec=amsterdamcoin-qt %u
Terminal=false
Type=Application
Icon=amsterdamcoin128
MimeType=x-scheme-handler/amsterdamcoin;
Categories=Office;Finance;
